/*****************************
 ++++++++++++ SASS +++++++++++
*****************************/
/* -------------------- */
/* MINIMAL CSS RESET */
/* -------------------- */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*****************************
 +++++++ $VARIABLES ++++++
  *****************************/
/* GUIA DE ESTILOS */
/*****************************
 +++++++ $MIXINS ++++++
 ****************************/
/*****************************
+++++++ $TIPOGRAFIA ++++++
*****************************/
html {
  font-size: 16px; }

.menuPrincipal, a {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
  color: #707070; }

.banner__texto {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 4.8125rem;
  color: #FFFFFF; }

button {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.0625rem;
  color: #FFFFFF; }

.post__figcaption__nombreGato {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
  color: #FFFFFF; }

.post__figcaption__duenoGato {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 0.9375rem;
  color: #FFFFFF; }

/*****************************
 +++++++ $BOTONES ++++++
 *****************************/
button {
  padding: 0.3rem 1.5rem;
  float: right;
  background-color: #FD784B;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 18px;
  border: none; }

.contenedor {
  width: 92%;
  margin: auto; }

hr {
  border-style: none;
  height: 14px; }

a {
  text-decoration: none;
  text-transform: capitalize; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 65px;
  color: #FFFFFF; }

figure {
  position: relative;
  height: 50%; }

nav {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 65px;
  padding: 0px 0px; }

a {
  text-decoration: none;
  text-transform: capitalize; }

.Reloj {
  display: block;
  margin: auto; }

/* *****************************
   +++++++ $BANNERS ++++++
   **************************** */
/* BANNER */
.banner {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 26px;
  background: url(/assets/img/desktop/@1x/oscurecer.png), url(/assets/img/desktop/@1x/Banner.png);
  background-size: cover; }
  .banner__texto {
    margin-left: 20px;
    width: 30%;
    text-transform: uppercase; }

/*****************************
+++++++ $GRIDS ++++++
*******************************/
.gridPrincipal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-gap: 1rem; }

figure {
  position: relative;
  height: 100%; }

figcaption {
  position: absolute;
  height: 100%;
  top: 80%;
  left: 5%; }
