/*****************************
+++++++ $GRIDS ++++++
*******************************/

.gridPrincipal
 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    grid-gap: 1rem;
  }

  figure 
  {
    position: relative;
    height: 100%;
  }

  figcaption 
  {
    position: absolute;
    height: 100%;
    top: 80%;
    left: 5%;
  }
  