/*****************************
 +++++++ $BOTONES ++++++
 *****************************/

button 
{
  padding: 0.3rem 1.5rem;
  float: right;
  background-color: $color_Naranja;
  box-shadow: none;
  border-radius: 18px;
  border: none; 
}

